.b-image {
  height: auto;
  width: auto;
}

.header {
  font-size: 2em;
  font-weight: bold;
}

.subheader {
  font-size: 1em;
  font-weight: bold;
}

.primary-color {
  color: black;
}

.trim-color {
  background-color: rgb(122, 122, 122);
}

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}